.cv_img_mouse{
  cursor: zoom-in;
  width: 100%;
  max-height: 95vh;
}
.cv_img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.cv_profile_img {
  width: 260px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.cv_download_btn {
  border: 1px solid #ffc466;
  color: #ffc466;
  padding: 0.6rem 1.4rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.cv_download_btn:hover {
  background-color: #ffc466;
  color: #000;
}
