  .home-right{
    height: 100%;
  }

  .home-right-main{
    height: 100%;
  }

  .home-right-main-img{
      height: 65vh;
      margin: auto;    
      display: block;
  }

  .home-right-footer{
     width: 100%;
  }
  .home-right-main-img {
  width: 280px;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
}

